﻿@using TESTASPNET.Models
@using TESTASPNET.Extensions
@model BooksModel
@{
    ViewBag.Title = "Books";
}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>PublishedOn</th>
            <th>Authors</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BookDto item in Model.books)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.PublishedOn.ToShortDateString()
                </td>
                <td>
                    @foreach (AuthorDto authorItem in item.Authors)
                    {
                        @authorItem.GetFullName() <br/>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
